extends layout

block content
  h1= title
  - let items = results;
  each item in items
    - let destination = `dispatch("/icecream/update?id=${item._id}")`
    div
      p flavour - #{item.flavour}
      p quantity - #{item.quantity}
      p price - #{item.price}
      button.btn(class="btn-primary ml-1", onclick=destination) Update
      br
      br

  script.
    function dispatch(path){
      window.location.href = path
    }
