extends layout
block content
    h1= title
    - let icecreamid = toShow._id
    - let flavour = toShow.flavour 
    - let quantity  = toShow.quantity 
    - let price = toShow.price 
    div
    div.row
    div(class='icecreamAttr mr-3') icecream ID is:
    div #{icecreamid}
    div.row
    div(class='icecreamAttr mr-3') icecream flavour is:
    div #{flavour}
    div.row
    div(class='icecreamAttr mr-3') icecream quantity is:
    div #{quantity}
    div.row
    div(class='icecreamAttr mr-3') icecream price is:
    div #{price}

    