extends layout

block content
  h1= title
  - const items = results;

  .container-fluid
    .row
      each icecream,index in items
        div(class="col-sm-2" onclick=`buy(${index})`)
          h3 #{icecream.flavour}
          p Quantity: #{icecream.quantity}
          p Price: $#{icecream.price}
  
  script.
    function buy(index) {
        alert(`You purchased : ${index}`)
    }