//- extends layout

//- block content
//-   h1= title
//-   - let items = results;
//-   each item in items
//-     - let destination = `dispatch("/icecream/update?id=${item._id}")`
//-     div
//-       p flavour - #{item.flavour}
//-       p quantity - #{item.quantity}
//-       p price - #{item.price}
//-       button.btn(class="btn-primary ml-1", onclick=destination) Update
//-       br
//-       br

//-   script.
//-     function dispatch(path){
//-       window.location.href = path
//-     }

//- Assuming you have a similar structure for your delete route
//- Adjust the route and parameters as needed

extends layout

block content
  h1= title

  a.btn.btn-primary(href="/icecream/create") Create icecream

  - let items = results;
  each item in items
    - let updateice = `dispatch("/icecream/update?id=${item._id}")`
    - let detailice = `dispatch("/icecream/detail?id=${item._id}")`
    - let deleteice = `dispatch("/icecream/delete?id=${item._id}")`

    div
      p flavour - #{item.flavour}
      p quantity - #{item.quantity}
      p price - #{item.price}
      button.btn.btn-primary.ml-1(onclick=updateice) Update
      button.btn.btn-secondary.ml-1(onclick=detailice) Detail
      button.btn.btn-danger.ml-1(onclick=deleteice) Delete
      br
      br

  script.
    function dispatch(path){
      window.location.href = path;
    }
