extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to update since the id is wrong
  else
    - let icecreamid = toShow._id
    - let flavour = toShow.flavour
    - let quantity = toShow.quantity
    - let price = toShow.price

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{icecreamid}

    - let actionid = "/resource/icecream/" + icecreamid

    form(id="icecreamForm", action=actionid, method="PUT")
      div.form-group
        label.icecreamAttr(for='flavour') Costume type
        input#flavour(type='text' name='flavour', value=flavour )

      div.form-group
        label.icecreamAttr(for='quantity') Costume size
        input#quantity(type='number' name='quantity', value=quantity )

      div.form-group
        label.icecreamAttr(for='price') Costume cost
        input#price(type='number' name='price', value=price )

      input(type="submit")

    script.
      document.forms['icecreamForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error );
        });
      });
